.app--tweet
  form(action="/", method="post")
    .circle--fluid
      .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
        .app--avatar(style=`background-image: url(${verifyCredentials.profile_image_url_https})`)
          img(src=`${verifyCredentials.profile_image_url_https}`)
        textarea#tweet-textarea.circle--textarea--input(placeholder="What's happening?", maxlength='140', name='tweet')
        strong#tweet-char.app--tweet--char 140
      .circle--fluid--cell.align-bottom
        button.button-primary Tweet